body {
    background-color: #333;
  }
  .App {
    font-family: "Open Sans";
    color: #fff;
    .Header {
      margin-bottom: 15px;
    }
    .LeftBanner {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 50vh;
      margin-bottom: 25px;
      img {
        max-width: 100%;
      }
    }
    .FormContainer {
      text-align: center;
      .mb-3 {
        text-align: left;
      }
    }
  }
  